<div class="footer" style="height:200px;background-color: rgb(218, 222, 231); padding: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Address</h4>
                <address>Address: FilmTechm-chennai</address>
            </div>
            <div class="col-md-3">
                <h4>content</h4>
                <address>Featured Movies Slider
                    Now Showing
                    Coming Soon
                    Top Rated
                    Special Offers
                    User Reviews</address>
            </div>
            <div class="col-md-3">
                <h4>Company Information:</h4>
                <address>About FilmTechm
                    Careers
                    Press
                    Blog</address>
            </div>
            <div class="col-md-3">
                <h4>Social Media</h4>
                 Instragram: shikigami_warrior
                 Facebook: prithvi@Me
                 © 2024 FilmTechm. All rights reserved.
            </div>
        </div>
    </div>
</div>


